* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

p {
  color: #888888;
}

.nav-item {
  margin-right: 15px;
}
.nav-item .nav-items {
  color: #000000;
}
.nav-item .home {
  color: #F25822;
}

.btn-main {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: #F25822;
  font-size: 12px;
  color: #FFFFFF;
}

.grow-be {
  margin-right: 230px;
}

.btn-section1, #plans .beginner .btn-beginner, #plans .plus .btn-plus, #plans .advanced .btn-plus, #plans .beginner .btn-plus, #speed .speedBtns .btn-speed3, #whyChoose .keyword .btn-choose, #whyChoose .socialMarketing .btn-choose, #whyChoose .seoOptimazadion .btn-choose, #solution .btn-section2 {
  background-color: #F25822;
  color: #FFFFFF;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  margin-right: 15px;
}

#intro {
  margin-top: 30px;
  background-image: url(../images/image/section1\ img.svg);
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
}
#intro .pinkPolygon {
  position: absolute;
  bottom: 260px;
  left: 25px;
}
#intro .pinkPolygon2 {
  position: absolute;
  top: 30px;
  left: 480px;
}
#intro .greenPolygon {
  position: absolute;
  bottom: 35px;
  left: 470px;
}
#intro h1 {
  margin-top: 100px;
}
#intro h1 span {
  border: 1px solid #F25822;
  border-radius: 90%;
}
#intro p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
}
#intro .video {
  display: inline-block;
  position: relative;
}
#intro .video .ellipse {
  position: absolute;
  top: 9px;
  left: 11px;
  cursor: pointer;
}
#intro .video a {
  text-decoration: none;
  color: #888888;
  font-size: 15px;
  margin-left: 8px;
}

.brands {
  margin-top: 60px;
  flex-wrap: wrap;
}

#solution {
  height: 500px;
  background-color: #FAFAFA;
  margin-top: 60px;
}
#solution h1 {
  font-size: 45px;
  color: #000000;
  margin-top: 20px;
}
#solution p {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
}
#business {
  height: 491px;
}
#business .growBusiness, #business .driveSales, #business .getQuality {
  padding: 30px;
}
#business .growBusiness .businessHeading, #business .driveSales .businessHeading, #business .driveSales h4, #business .getQuality .businessHeading, #business .getQuality h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}
#business .growBusiness .btn-business, #business .driveSales .btn-business, #business .getQuality .btn-business {
  font-weight: 700;
}
#business .getQuality {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
#whyChoose {
  height: 919px;
  background-color: #FFFFFF;
}
#whyChoose .chooseContent {
  width: 665px;
}
#whyChoose p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
#whyChoose .keyword, #whyChoose .socialMarketing, #whyChoose .seoOptimazadion {
  background-color: #FFFFFF;
}
#whyChoose .keyword h4, #whyChoose .socialMarketing h4, #whyChoose .seoOptimazadion h4 {
  margin-top: 35px;
}
#whyChoose .keyword .btn-choose, #whyChoose .socialMarketing .btn-choose, #whyChoose .seoOptimazadion .btn-choose {
  width: 150px;
  margin-bottom: 30px;
}
#whyChoose .seoOptimazadion {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
#whyChoose .seoOptimazadion h4 {
  margin-top: 20px;
}
#whyChoose .socialMarketing h4 {
  margin-top: 20px;
}

#seo {
  height: 800px;
  background-color: #FFFFFF;
}
#seo .seo-content {
  margin-top: 25px;
  margin-bottom: 60px;
}
#seo .seo-items .socialMedia, #seo .seo-items .email {
  margin-bottom: 20px;
  padding: 25px;
}
#seo .seo-items .socialMedia h5, #seo .seo-items .email h5 {
  margin-top: 10px;
}
#seo .seo-items .email {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
#seo .seo-items .optimization h5 {
  margin-top: 10px;
}

#numbers {
  height: 400px;
  background-color: #FFFFFF;
  margin-top: 50px;
}
#numbers .numbersItems {
  height: 200px;
  border: 2px solid #EEEEEE;
  padding: 40px;
  flex-wrap: wrap;
}
#numbers .numbersItems .orangeDot, #numbers .numbersItems .yellowDot, #numbers .numbersItems .greenDot {
  height: 15px;
  width: 15px;
}
#numbers .numbersItems .happyClients h1, #numbers .numbersItems .awards h1, #numbers .numbersItems .experience h1, #numbers .numbersItems .projectDone h1 {
  font-size: 70px;
  color: #666666;
  margin-left: 10px;
}
#numbers .numbersItems .happyClients p, #numbers .numbersItems .awards p, #numbers .numbersItems .experience p, #numbers .numbersItems .projectDone p {
  font-size: 18px;
  color: #666666;
}
#numbers .numbersItems .projectDone h1 {
  margin-left: 0px;
}
#numbers .numbersItems .projectDone p {
  margin-left: 15px;
}
#numbers .numbersItems .experience h1 {
  margin-left: 32px;
}
#numbers .numbersItems .awards h1 {
  margin-left: 17px;
}

#speed {
  background-image: url(../images/image/speedBackground.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  height: 500px;
}
#speed h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
#speed .speedContent {
  padding: 110px 0 110px 110px;
}
#speed .speedBtns {
  margin-top: 60px;
}
#speed .speedBtns .btn-speed3 {
  margin-left: 30px;
}

#plans {
  height: 900px;
  margin-top: 30px;
  padding: 80px 200px;
  background-color: #FAFAFA;
}
#plans .plansContent {
  margin-bottom: 60px;
}
#plans .plus, #plans .advanced, #plans .beginner {
  background-color: #FFFFFF;
  padding: 40px;
}
#plans .plus .btn-plus, #plans .advanced .btn-plus, #plans .beginner .btn-plus {
  background: rgba(242, 88, 34, 0.25);
  color: #F3602D;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#plans .plus h5, #plans .advanced h5, #plans .beginner h5 {
  margin-top: 20px;
}
#plans .plus .plusContent, #plans .advanced .plusContent, #plans .beginner .plusContent {
  position: relative;
  margin: 15px 0;
}
#plans .plus .plusContent h6 .mounth, #plans .advanced .plusContent h6 .mounth, #plans .beginner .plusContent h6 .mounth {
  font-size: 70px;
}
#plans .plus .plusContent .currency, #plans .plus .plusContent .currencyAdvanced, #plans .advanced .plusContent .currency, #plans .advanced .plusContent .currencyAdvanced, #plans .beginner .plusContent .currency, #plans .beginner .plusContent .currencyAdvanced {
  position: absolute;
  top: 15px;
  left: 50px;
}
#plans .beginner {
  box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}
#plans .beginner h5 {
  color: #F25822;
}
#plans .beginner .btn-beginner {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 60px;
}
#plans .currencyAdvanced {
  left: 30px;
}

#members {
  height: 700px;
  background-color: #FFFFFF;
}
#members h1 {
  margin-top: 50px;
  margin-bottom: 15px;
}
#members .membersContent {
  margin-bottom: 50px;
  margin-top: 15px;
}
#members .natasha, #members .nelson, #members .haris, #members .john {
  border: 1px solid #EEEEEE;
  padding: 60px 40px;
}
#members .natasha h5, #members .nelson h5, #members .haris h5, #members .john h5 {
  margin: 20px 0 10px;
}
#members .natasha .membersIcons img:not(:last-child), #members .nelson .membersIcons img:not(:last-child), #members .haris .membersIcons img:not(:last-child), #members .john .membersIcons img:not(:last-child) {
  margin-right: 20px;
}
#members .john {
  box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
}
#members .john h5 {
  color: #F25822;
}
#clientsSay {
  height: 660px;
}
#clientsSay .clientsSayContent {
  margin-top: 15px;
  margin-bottom: 60px;
}
#clientsSay .clientsSlider .selena {
  border: 2px solid #EEEEEE;
  padding: 20px;
  background: #FFFFFF;
  margin-right: 20px;
}
#clientsSay .clientsSlider .rabith {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
#clientsSay .clientsSlider .clientRabith {
  border-radius: 50%;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  #intro {
    background-image: none;
  }
  #intro .pinkPolygon {
    display: none;
  }
  #intro .pinkPolygon2 {
    display: none;
  }
  #intro .greenPolygon {
    display: none;
  }
  #solution {
    height: auto;
  }
  #solution h1 {
    font-size: 25px;
  }
  #solution img {
    width: 100%;
  }
  #business {
    height: auto;
  }
  #whyChoose {
    height: auto;
  }
  #seo {
    height: auto;
  }
  #speed {
    background-image: none;
    height: auto;
  }
  #numbers {
    height: auto;
  }
  #plans {
    height: auto;
  }
  #plans .plusContent h6 .mounth {
    font-size: 20px;
  }
  #members {
    height: auto;
  }
  #clientsSay {
    height: auto;
  }
  #clientsSay h1 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  #intro {
    background-image: none;
  }
  #intro .pinkPolygon {
    display: none;
  }
  #intro .pinkPolygon2 {
    display: none;
  }
  #intro .greenPolygon {
    display: none;
  }
  #solution {
    height: auto;
  }
  #solution h1 {
    font-size: 28px;
  }
  #business {
    height: auto;
  }
  #whyChoose {
    height: auto;
  }
  #seo {
    height: auto;
  }
  #speed {
    background-image: none;
    height: auto;
  }
  #numbers {
    height: auto;
  }
  #plans {
    height: auto;
  }
  #plans .plusContent h6 .mounth {
    font-size: 20px;
  }
  #members {
    height: auto;
  }
  #clientsSay {
    height: auto;
  }
  #clientsSay h1 {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */