@import "variables";
@import "mixins";


*{
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

p{
    color: $textColor;
}

.nav-item{
    margin-right: 15px;
    .nav-items{
        color: $navItemsColor;
    }
    .home{
        color: $primaryColor;
    }
} 

.btn-main{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: $primaryColor;
    font-size: 12px;
    color: $btnTextColor;
}

.grow-be{
    margin-right: 230px;
}

.btn-section1{
    background-color: $primaryColor;
    color: $btnTextColor;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    margin-right: 15px;
}


#intro{
    margin-top: 30px;
    background-image: url(../images/image/section1\ img.svg);
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    .pinkPolygon{
        position: absolute;
        bottom: 260px;
        left: 25px;
    }
    .pinkPolygon2{
        position: absolute;
        top: 30px;
        left: 480px;
    }
    .greenPolygon{
        position: absolute;
        bottom: 35px;
        left: 470px;
    }
    h1{
        margin-top: 100px;
        span{
            border: 1px solid $primaryColor;
            border-radius: 90%;
        }
    }
    p{
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 40px
    }

    .video{
        display: inline-block;
        position: relative;
        .ellipse{
            position: absolute;
            top: 9px;
            left: 11px;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: $textColor;
            font-size: 15px;
            margin-left: 8px;
        }
    }
}

.brands{
    margin-top: 60px;
    flex-wrap: wrap;
}

#solution{
    height: 500px;
    background-color: $bGroundColor;
    margin-top: 60px;
    h1{
        font-size: 45px;
        color: $navItemsColor;
        margin-top: 20px;
    }
    p{
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .btn-section2{
        @extend .btn-section1;
    }
}


#business{
    height: 491px;
    .growBusiness{
        padding: 30px;
        .businessHeading{
            margin-top: 25px;
            margin-bottom: 20px;
            font-size: 24px;
            color: $navItemsColor;
        }

        .btn-business{
            font-weight: 700;
        }
    }
    .getQuality{
        @extend .growBusiness;
        box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
        h4{
            @extend .businessHeading;
        }
    }
    .driveSales{
        @extend .growBusiness;
        h4{
           @extend .businessHeading;
        }
    }

}

#whyChoose{
    height: 919px;
    background-color: $btnTextColor;
    .chooseContent{
        width: 665px;
    }
    p{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .keyword{
        background-color: $btnTextColor;
        h4{
            margin-top: 35px;
        }
        .btn-choose{
            @extend .btn-section1;
            width: 150px;
            margin-bottom: 30px;
        }
    
    }
    .seoOptimazadion{
        @extend .keyword;
        box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
        h4{
            margin-top: 20px;
        }
    }

    .socialMarketing{
        @extend .keyword;
        h4{
            margin-top: 20px;
        }
    }
}


#seo{
    height: 800px;
    background-color: $btnTextColor;
    .seo-content{
        margin-top: 25px;
        margin-bottom: 60px;
       }
      
  .seo-items{

    .socialMedia{
     margin-bottom: 20px;
     padding: 25px;
      h5{
       margin-top: 10px;
        }
   }
    .email{
     @extend .socialMedia;
     box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    }
    
    .optimization{
        @extend .socialMedia;
      h5{
        margin-top: 10px;
        }
    }
 }
}
 
#numbers{
    height: 400px;
    background-color: $btnTextColor;
    margin-top: 50px;
    .numbersItems{
        height: 200px;
        border: 2px solid #EEEEEE;
        padding: 40px;
        flex-wrap: wrap;

        .orangeDot{
            height: 15px;
            width: 15px;
        }
    
        .greenDot{
            @extend .orangeDot;
        }
        .yellowDot{
            @extend .orangeDot;
        }

        .happyClients{
            h1{
                font-size: 70px;
                color: $numbersColor;
                margin-left: 10px;
            }
            p{
                font-size: 18px;
                color: $numbersColor;
            }
        }

        .projectDone{
            @extend .happyClients;
            h1{
                margin-left: 0px;
            }
            p{
                margin-left: 15px;
            }
        }

        .experience{
            @extend .happyClients;
            h1{
                margin-left: 32px;
            }
        }

        .awards{
            @extend .happyClients;
            h1{
                margin-left: 17px;
            }
        }
    }
}

#speed{
    background-image: url(../images/image/speedBackground.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    height: 500px;

    h1{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .speedContent{
        padding: 110px 0 110px 110px;
    }

    .speedBtns{
        margin-top: 80px;
        width: 590px;
        .input-group{
            width: 400px;
            height: 50px;
            background-color: $inputColor;
        }

        .btn-speed3{
            @extend .btn-section1;
            margin-left: 30px;
        }

    }

}

#plans{
    height: 900px;
    margin-top: 30px;
    padding: 80px 200px;
    background-color: $bGroundColor;
    .plansContent{
        margin-bottom: 60px;
    }
    .plus{
        background-color: $btnTextColor;
        padding: 40px;
        .btn-plus{
            @extend .btn-section1;
            background: rgba(242, 88, 34, 0.25);
            color: $btn-plan;
            width: 200px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        h5{
            margin-top: 20px;
        }

        .plusContent{
            position: relative;
            margin: 15px 0;
            h6{
                .mounth{
                    font-size: 70px;
                }
            }
            .currency{
                position: absolute;
                top: 15px;
                left: 50px;
                
            }
        }

    }

    .beginner{
        @extend .plus;
        box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);

        h5{
            color: $primaryColor;
        }

        .btn-beginner{
            @extend .btn-section1;
            width: 200px;
            margin-top: 10px;
            margin-bottom: 60px;
        }
    }

    .advanced{
        @extend .plus;
       }

       .currencyAdvanced{
        @extend .currency;
        left: 30px;
       }
}

#members{
    height: 700px;
    background-color: $btnTextColor;
    h1{
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .membersContent{
        margin-bottom: 50px;
        margin-top: 15px;
    }

    .natasha{
        border: 1px solid #EEEEEE;
        padding: 60px 40px;
        h5{
            margin: 20px 0 10px;
        }
        .membersIcons{
            img:not(:last-child){
                margin-right: 20px;
            }
        }
    }

    .john{
        @extend .natasha;
        box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
        h5{
            color: $primaryColor;
        }
    }

    .haris{
        @extend .natasha;
    }

    .nelson{
        @extend .natasha;
    }
}

#clientsSay{
    height: 660px;
    .clientsSayContent{
        margin-top: 15px;
        margin-bottom: 60px;
    }

    .clientsSlider{

        .selena{
            border: 2px solid #EEEEEE;
            padding: 20px;
            background: $btnTextColor;
            margin-right: 20px;
        }
        
        .rabith{
            padding: 20px;
            background: $btnTextColor;
            box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
            margin-right: 20px;
        }

        .clientRabith{
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .slick-dots{
            bottom: 200px;
            color: $primaryColor;
        }

    }
}

#news{
    height: 738px;

    .newsMainContent{
        margin-top: 15px;
        margin-bottom: 60px;
    }
    .newsSlider{
        .newsItem{
            width: 780px;
            box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
            margin-right: 30px;
            .newsContent{
                width: 400px;
                padding: 20px;

                .newsIcons{
                    margin: 15px;
                    .iconContent{
                       font-size: 11px;
                       color: $textColor;
                    }
                }
            }

            .newsLink{
                text-decoration: none;
                color: $primaryColor;
            }
        }

        .newsItem2{
            @extend .newsItem;
            border: 2px solid #EEEEEE;
        }

        .newsItem3{
            @extend .newsItem;
        }

        .slick-dots{
            bottom: 200px;
            color: $primaryColor;
        }
    }
}

footer{
    h5{
        margin-top: 75px;
    }
    height: 488px;
    background-color: $footercolor;

    .footerIcons{
        p{
            width: 270px;
            color: $numbersColor;
        }
        .footerLogo{
            margin-top: 60px;
            margin-bottom: 30px;
        }
        .footerSocial{
            margin-top: 25px;
        }
        .footerSocial img:not(:last-child){
            margin-right: 15px;
        }

    }

    .ourCompany{
        h5{
            margin-bottom: 20px;
        }
        ul{
            color: $primaryColor;
            li{
                a{
                    text-decoration: none;
                    list-style-position: inside;
                    color: $numbersColor;
                    font-size: 16px;
                    line-height: 230%;
                }
            }
        }
    }

    .ourServices{
        @extend .ourCompany;
    }

    .contactUs{
        .footerContent{
            color: $footerContent;
        }
    }

    .footerLine{
        margin: 50px;
    }

    .copyright{
        margin-top: 20px;
    }

}



@include mQuerry("mobile"){

    header{
        display: flex;
        justify-content: space-between;
    }
    
    #intro{
        background-image: none;
        margin-top: 0;
        width: 100%;
        .pinkPolygon{
            display: none;
        }

        .pinkPolygon2{
            display: none;
        }

        .greenPolygon{
            display: none;
        }
    }

    #solution{
        height: auto;
        width: 100%;
        margin-top: 0;
        h1{
            font-size: 25px;
        }
        img{
            width: 100%;
        }
    }

    
    #business{
        height: auto;
        width: 100%;
    }

    #whyChoose{
        height: auto;
        width: 100%;
        .chooseContent{
            width: auto;
        }
    }

    #seo{
        height: auto;
        width: 100%;
        .seo-items{
            .socialMedia, .email, .optimization{
                img{
                    display: none;
                }
            }
        }
    }

    #speed{
        background-image: none;
        height: auto;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        h1{
            margin-top: 0;
        }
        .speedContent{
            padding: 0;
            .speedBtns{
                width: auto;
            }
        }
       
    }

    #numbers{
        height: auto;
        width: 100%;
        margin-top: 0;
        .numbersItems{
            height: auto;
        }
    }

    #plans{
        height: auto;
        width: auto;
        padding: 0;
        margin-top: 0;
        .plus, .beginner, .advanced{
            padding: 0;

            .plusContent{
                h6{
                    .mounth{
                        font-size: auto;
                    }
                }
            }
            
        }
       
    }

    #members{
        height: auto;
        width: 100%;
        h1{
            margin-top: 0;
        }
    }

    #clientsSay{
        height: auto;
        width: 100%;
        h1{
            margin-top: 40px;
        }
    }

    #news{
        height: auto;
        width: 100%;
        .newsSlider{
            .newsImg{
                display: none;
            }
        }
    }

    footer{
        height: auto;
        width: 100%;
        h5{
            margin-top: 0;
        }
        .footerLine{
            display: none;
        }
        .copyright{
            margin-top: 0;
        }
        
        .footerIcons{
            p{
                width: 100%;
            }
            .footerLogo{
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .footerSocial{
                margin-bottom: 10px;
            }
            .footerSocial img:not(:last-child){
                margin-right: 0;
            }
        }

        .ourCompany, .ourServices{
            h5{
                margin-bottom: 0;
            }
        }
            
    }

}


@include mQuerry("tablet"){
    header{
        display: flex;
        justify-content: space-between;
    }
    
    #intro{
        background-image: none;
        width: 100%;
        margin-top: 0;
        .pinkPolygon{
            display: none;
        }

        .pinkPolygon2{
            display: none;
        }

        .greenPolygon{
            display: none;
        }
    }

    #solution{
        height: auto;
        width: 100%;
        margin-top: 0;
        h1{
            font-size: 28px;
        }
    }

    #business{
        height: auto;
        width: 100%;
    }

    #whyChoose{
        height: auto;
        width: 100%;
        .chooseContent{
            width: auto;
        }
    }

    #seo{
        height: auto;
        width: 100%;
        .seo-items{
            .socialMedia, .email, .optimization{
                img{
                    display: none;
                }
            }
        }
    }

    #speed{
        background-image: none;
        width: 100%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        h1{
            margin-top: 0;
        }
        .speedContent{
            padding: 0;
            .speedBtns{
                width: auto;
            }
        }
       
    }

    #numbers{
        height: auto;
        width: 100%;
        margin-top: 0;
        .numbersItems{
            height: auto;
        }
    }

    #plans{
        height: auto;
        width: 100%;
        width: auto;
        padding: 0;
        margin-top: 0;
        .plus, .beginner, .advanced{
            padding: 0;

            .plusContent{
                h6{
                    .mounth{
                        font-size: auto;
                    }
                }
            }
        }
      
    }

    #members{
        height: auto;
        width: 100%;
        h1{
            margin-top: 0;
        }
    }

    #clientsSay{
        height: auto;
        width: 100%;
        h1{
            margin-top: 40px;
        }
    }

    #news{
        height: auto;
        width: 100%;
        .newsSlider{
            .newsImg{
                display: none;
            }
        }
    }

    footer{
        height: auto;
        width: 100%;
        h5{
            margin-top: 0;
        }
        .footerLine{
            display: none;
        }
        .copyright{
            margin-top: 0;
        }
       .footerIcons{
        p{
            width: 100%;
        }
        .footerLogo{
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .footerSocial{
            margin-bottom: 10px;
        }
        .footerSocial img:not(:last-child){
            margin-right: 0;
        }

       }

       .ourCompany, .ourServices{
        h5{
            margin-bottom: 0;
        }
       }
       
    }
    
}